[user]
	name = Firdaus Hakimi
	email = hakimifirdaus944@gmail.com
	signingKey = EEEAD1DEC5BA683CFFC435244F15A52F97D1FC45
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgSign = true
[core]
	sshCommand = ssh -i ~/.ssh/id_ed25519_git
